@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main: #1db954;
    --white: #ffffff;
    --black: #191414;
    --top-height: 7%;
    --center-height: 60%;
}

.font-orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
}

.font-indie {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

.tc-main {
    color: var(--main);
}

.bg-main {
    background-color: var(--main);
}

.tc-white {
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
}

.tc-black {
    color: var(--black);
}

.bg-black {
    background-color: var(--black);
}

.pointer {
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--white);
}

#player-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
    overflow: hidden;
}

#card-wrapper {
    padding: 0 5px;
}

#play-btn {
    min-width: 60px;
}

#cover-image {
    width: 350px;
    max-width: 80%;
    height: auto;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

#player-top {
    height: var(--top-height);
    display: flex;
    justify-content: end;
    align-items: center;
}

#player-top i {
    padding-right: 15px;
}

#player-center {
    height: var(--center-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#current-song-info-container {
    padding: 0 15px;
}

.song-info-container {
    position: absolute;
    left: 55px;
    width: 60%;
    max-width: 60%;
}

.custom-overflow-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#current-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    color: var(--main);
}

#current-artist {
    font-size: 14px;
    text-transform: lowercase;
    opacity: .5;
}

#player-bottom {
    height: calc(100% - var(--top-height) - var(--center-height));
}

#progress-contaienr {
    display: flex;
    height: 25%;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

#progress-bar-container {
    background-color: var(--white);
    height: 6px;
    width: 80%;
    border-radius: 6px;
}

#current-progress {
    background-color: var(--main);
    width: 0;
    height: 100%;
    border-radius: 6px;
}

#commands-container {
    min-height: 75%;
    max-height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 980px;
    margin: 0 auto;
}

#aside-wrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: -10000px;
    background-color: var(--black);
    overflow-y: scroll;
    transition: all .9s ease-in-out;
    z-index: 999;
}

#input-container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-input {
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    width: 90%;
}

.playlist-img {
    max-width: 60px;
    height: auto;
    margin-right: 10px;
}

.card {
    border-bottom: 1px solid var(--white);
    display: flex;
    min-height: 80px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
}

.card .is-active {
    border-bottom: 1px solid var(--main);
}

#exit-aside {
    display: flex;
    justify-content: flex-end;
    margin: 5px 8px 0 0;
}

.song-info-container {
    display: flex;
    align-items: center;
}

.info {
    margin-left: 5px;
}

.active {
    filter: drop-shadow(1px 1px 3px #FFED00);
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.id {
    width: 5%;
}

.author {
    opacity: .6;
    font-size: 12px;
}

.album {
    position: absolute;
    right: 80px;
}

.playing { 
    border-bottom: 1px solid var(--main);
    -webkit-box-shadow: 0px 15px 20px -10px var(--main); 
    box-shadow: 0px 15px 20px -10px var(--main);
}

@media screen and (min-width: 466px) {
    #progress-bar-container {
        width: 82%
    }
}

@media screen and (min-width: 610px) {
    #progress-bar-container {
        width: 85%
    }
}

@media screen and (min-width: 800px) {
    #progress-bar-container {
        width: 88%
    }
}

@media screen and (min-width: 916px) {
    #progress-bar-container {
        width: 90%
    }
}

@media screen and (min-width: 1200px) {
    #progress-bar-container {
        width: 93%
    }
}

@media screen and (min-width: 1520px) {
    #progress-bar-container {
        width: 94%
    }
}

@media screen and (min-width: 1820px) {
    #progress-bar-container {
        width: 95%
    }
}